.vscode/
.idea/
.DS_Store
*.env

# Deployment Scripts
deploy.sh
backend/deploy.sh

# Frontend Build Artifacts
frontend/dist/
backend/src/main/resources/static/

# Backend Build Artifacts
backend/build/
backend/.gradle/

*.log